@model IEnumerable<WebApplication_AlquilerEquipos.Models.Alquiler>
@{
    ViewBag.Title = "Index";
}



    <div class="panel panel-default">
        <h4><strong>Alquileres</strong></h4>
        <hr />
        <div>
            @Html.ActionLink("Registrar Alquiler", "Create", null, new { @Id = "Alquiler_btn_Registrar", @class = "btn btn-primary" })
        </div>

        <br />

        @*Receive All Database Data From Controller And Display Those Data In Client Side*@

        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <div class="panel-body">
                    <table class="table table-striped table-responsive">
                        <tbody>
                            <tr>
                                <td><strong>Cliente :</strong> @item.Cliente.Nombre </td>
                                <td><strong>Fecha Orden :</strong> @item.Fecha.ToString("dddd, dd MMMM yyyy") </td>
                                <td><strong>Fecha Registro :</strong> @item.FechaRegistro.ToString("dddd, dd MMMM yyyy")</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th>Equipo</th>
                                                <th>Descripcion</th>
                                                <th>Precio</th>
                                            </tr>
                                            @{
                                                var totalBill = 0.0;
                                            }
                                            @foreach (var order in item.AlquilerDetalle)
                                            {
                                                <tr>
                                                    <td>@order.Equipo.Nombre</td>
                                                    <td>@order.Equipo.Descripcion</td>
                                                    <td>@order.Precio</td>
                                                </tr>
                                                totalBill += order.Precio;
                                            }
                                        </tbody>
                                    </table>
                                    <span class="pull-right" style="margin-right:100px;"><strong>Total del Alquiler :  S/.</strong> @totalBill.ToString("0.00")</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <br />
            }
        }
        else
        {
            <div class="panel-body">
                <br />
                <h4><strong>No ha realizado Alquileres !</strong></h4>
            </div>

        }
    </div>


